*{
  box-sizing: border-box;
  margin: 10px;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full height of screen */
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: rgb(31, 97, 134);
  padding: 20px;
  border-radius: 12px;
  max-width: 320px; /* Optional: restrict size */
  width: 90%;        /* Responsive: take up 90% on small screens */
}

button{
  padding: 15px;
  font-size: 18px;
}